.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 20%;
    position: relative;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  gap: 2rem;
}

.about__title {
  color: var(--preto);
  font-size: 5.5rem;
  font-weight: 800;
  letter-spacing: -1px;
}

.about__subtitle {
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 36rem;
}

.about__stars-title {
  font-weight: 700;
  padding: 2rem 0;
}

@media screen and (max-width: 1600px) {
  .about-container {
    padding: 0 10vw;
  }  
}

@media screen and (max-width: 1200px) {
  .about-container {
    padding: 0 2rem;
  }  
}

@media screen and (max-width: 650px) {
  .about__title {
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
  }

  .about__subtitle {
    font-size: 0.875rem;
    text-align: left;
  }
}