.dialog-menu__open {
  background-color: transparent;
  display: none;
  position: absolute;
  left: 2rem;
}

@media screen and (max-width: 1000px) {
  .dialog-menu__open {
    appearance: none;
    border: none;
    display: block;
    z-index: 99;
  }

  .dialog-menu-content {
    animation: slide 0.5s forwards;
    background: var(--cinza-100);
    box-shadow: 1px 3px 6px 0px rgba(171, 171, 171, 0.54);
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 15rem;
    padding-top: 3.125rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .dialog-menu-content[data-state='open'] {
    animation: slideIn 0.3s ease-in;
  }

  .dialog-menu-content[data-state='closed'] {
    animation: slideOut 0.3s ease-out;
  }

  .dialog-menu__close {
    appearance: none;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 2rem;
    top: 1rem;
  }
}

.dark {
  .dialog-menu-content {
    background-color: #18181b;
  }

  .dialog-menu__open svg,
  .dialog-menu__close svg {
    fill: var(--branco);
  }

  .dialog-menu__open svg:hover,
  .dialog-menu__close svg:hover {
    fill: var(--verde-500) !important;
  }
}

.bear {
  .dialog-menu-content {
    background-color: #000;
  }

  .dialog-menu__open svg, 
  .dialog-menu__close svg {
    fill: var(--verde-300);
  }

  .dialog-menu__open svg:hover, 
  .dialog-menu__close:hover {
    fill: var(--verde-500) !important;
  }
}