.hire {
  padding-bottom: 0;
}

.form-and-clients-container {
  display: grid;
  grid-template-columns: 1fr 40%;
}

.form__title {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0 auto;
  max-width: 30rem;
  padding: 7vh 0 5vh;
  text-align: center;
  -webkit-text-stroke: .5px;
}

.form {
  padding: 5rem;
}

@media screen and (max-width: 1600px) {
  .form-and-clients-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) {
  .form {
    padding: 1rem 0.5rem;
  }
  .form__title {
    font-size: 1.25rem;
  }
}