.theme-selector__container{
  position: absolute;
  right: 1.5vw;
  width: fit-content;
}

.theme-selector {
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: fit-content;
}

.theme-selector:focus {
  outline: none ;
}

.theme-selector svg {
  height: auto;
  transition: all 0.3s ease-in-out;
  width: 1.5rem;
}

.theme-selector svg:hover {
  fill: var(--verde-500);
}

.bear {
  .theme-selector svg {
    fill: var(--verde-300);
  }
  
  .theme-selector svg:hover {
    fill: var(--verde-500) !important;
  }
}