.dark {
  main {
    background-color: #27272a;
  }

  p, li, span, a, button, h1, h2, h3, h4, h5, h6 {
    color: white !important;
  }
}

.bear {
  main {
    background-color: #111;
  }

  p, li, span, span, h1, h2, h3, h4, h5, h6 {
    color: var(--verde-300) !important;
  }
}

