.careers-hero {
  color: var(--branco);
  display: flex;
  position: relative;
}

.careers-background-video {
  height: auto   !important;
  width: 100%    !important;
}

.careers-hero::after {
  background: rgba( 0, 0, 0, 0.3 );
  backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-backdrop-filter: blur( 7.5px );
}

.careers-call-to-action {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  left: 50%;
  max-width: 100%;
  padding: 0 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 45%;
  z-index: 1;
}

.careers-call-to-action__title {
  font-size: 2.75rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.careers-call-to-action__title > span {
  color: var(--verde-500);
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.careers-call-to-action__subtitle {
  font-size: 1.25rem;
  line-height: 1.25;
  max-width: 40rem;
  margin: 0 auto;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.recruitment-form {
  padding: 0 25%;
}

.recruitment-form__title {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0 auto;
  padding: 7vh 0 5vh;
  max-width: 30rem;
  text-align: center;
  -webkit-text-stroke: .5px;
}

@media screen and (max-width: 1600px) {
  .careers-background-video {
    object-fit: cover;
    height: 100vh !important;
    width: auto;
  }
  
  .careers-call-to-action {
    width: 80%
  }

  .recruitment-form {
    padding: 0 15%;
  }
}

@media screen and (max-width: 1200px) {
  .careers-call-to-action {
    width: 100%
  }

  .careers-call-to-action__title {
    font-size: 2.5rem;
  }

  .recruitment-form {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .recruitment-form {
    padding: 0 15%;
  }
}

@media screen and (max-width: 768px) {
  .careers-call-to-action__title {
    font-size: 1.75rem;
  }

  .careers-call-to-action__subtitle {
    max-width: 30rem;
  }

  .recruitment-form {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 650px) {
  .careers-background-video {
    object-fit: cover;
    height: 100vh !important;
    width: auto;
  }

  .recruitment-form {
    padding: 1rem 0.5rem;
  }
  .recruitment-form__title {
    font-size: 1.25rem;
  }
}

.dark {
  .careers-hero::after {
    background: rgba( 0, 0, 0, 0.5 );

  }
}

.bear {
  .careers-hero::after {
    background: rgba( 0, 0, 0, 0.7 );
  }
  .recruitment-clients {
    opacity: 0.04;
  }

  .careers-call-to-action__title {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(0, 135, 95, 0.3);
  }
  
  .careers-call-to-action__title > span {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(0, 135, 95, 0.3);
  }
  
  .careers-call-to-action__subtitle {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(0, 135, 95, 0.3);
  }
}