.card {
	border-radius: 6px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: var(--preto);
	max-width: 100%;
	padding-top: 2rem;
	position: relative;
	text-align: center;
	width: 22rem;
}

.card::before {
  border-radius: 6px;
  content: '';
  height: 100%;
  left: 0;
  max-height: 40rem;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.card::after {
  background-color: var(--cinza-100);
  content: '';
  height: calc(100% - 7.5rem);
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 7.5rem;
  width: 100%;
  z-index: -1;
}

.card__nome {
  margin: 0.75rem 0;
}

.card__foto-perfil {
  border: 4px solid var(--verde-500);
	border-radius: 50%;
  max-height: 9rem;
}

.card__descricao {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5;
  max-height: 6.8rem;
  min-height: 5.25rem;
  max-width: 20rem;
  overflow: hidden;
  margin: 0 1rem;
  text-align: left;
}

.card__botoes {
  margin: 0.75rem 0;
}

.card__apelido {
  font-size: 0.875rem;
  margin: 0.75rem 0;
}

.card__habilidades {
  background-color: var(--cinza-100);
  border-top: 1px solid var(--cinza-300);
  border-radius: 6px;
  min-height: 9rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: left;
}

.card__habilidades--titulo {
  margin: 0.5rem 0 0.25rem;
  text-transform: uppercase;
  }

  .card__habilidades--item {
    border: 1px solid var(--verde-300);
    border-radius: 2px;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0 0.3rem 0.3rem 0;
    padding: 0.3rem;
    }

    .card__fundo-estilos--primario::before {
      background-image: url(../../../assets/images/card-backgrounds/card-bg-19.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .card__fundo-estilos--secundario::before {
      background-image: url(../../../img/card-backgrounds/card-bg-18.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .card__fundo-estilos--terciario::before {
      background-image: url(../../../img/card-backgrounds/card-bg-13.svg);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .card__botao--primario {
      background-color: var(--cinza-900);
      border: 1px solid var(--cinza-900);
      border-radius: 3px;
      color: var(--branco);
      padding: 0.625rem 1.5rem;
    }
    
    .card__botao--primario:hover:enabled {
      background-color: var(--verde-500);
      border: 1px solid var(--verde-500);
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
    
    .card__botao--primario:disabled {
      cursor: not-allowed;
    }

    .card__botao--secundario {
      background-color: transparent;
      border: 1px solid var(--preto);
      border-radius: 3px;
      color: var(--preto);
      padding: 0.625rem 1.5rem;
    }
    
    .card__botao--secundario:hover:enabled {
      background-color: var(--verde-500);
      color: var(--branco);
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
    
    .card__botao--secundario:disabled {
      cursor: not-allowed;
      opacity: 0.75;
    }