.recruitment-contrate__formulario {
  padding: 5rem;
}

.recruitment-form__fields-line {
  display: grid;
  grid-template-columns: 48% 48%;
}

.recruitment-form__field-container {
  padding: 0 1rem 4vh;
}

.recruitment-form__field-container:nth-child(n+5) {
  grid-column: span 2;
}

.recruitment-form__field-label {
  color: var(--cinza-600);
  display: flex;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.recruitment-form__field-label span::first-letter{
  text-transform: capitalize;
}

.recruitment-form__field-input {
  background-color: #fff;
  border: 1px solid var(--cinza-200);
  color: var(--cinza-500);
  font-size: 1.1rem;
  height: 7vh;
  max-height: 3.75rem;
  min-height: 2.5rem;
  padding: 0.7rem;
  width: 100%;
}

.recruitment-form__field-input:focus, .form__field-select:focus {
  border: none;
  border-radius: 4px;
  color: var(--preto);
  outline: 2px solid var(--verde-300);
}

.recruitment-form__field-select {
  background-color: var(--branco);
  border: 1px solid var(--cinza-200);
  color: var(--cinza-500);
  display: inline-block;
  font-size: 1.1rem;
  height: 3.75rem;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  transition: all 375ms ease-in-out;
  text-transform: capitalize;
  width: 100%;
}

.recruitment-form__field-select option {
  color: var(--cinza-800);
}

.recruitment-form__field-select--arrow {
  background-image:
    linear-gradient(45deg, transparent 50%, var(--cinza-500) 50%),
    linear-gradient(135deg, var(--cinza-500) 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 20px) calc(1.5rem + 2px),
    calc(100% - 15px) calc(1.5rem + 2px),
    100% 0;
  background-repeat: no-repeat;
  background-size:
    5px 5px,
    5px 5px,
    3.75rem 3.75rem;
}

.recruitment-form__field-select--arrow:focus {
  background-image:
    linear-gradient(45deg, var(--cinza-500) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--cinza-500) 50%),
    linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 15px) 1.5rem,
    calc(100% - 20px) 1.5rem,
    100% 0;
  background-repeat: no-repeat;
  background-size:
    5px 5px,
    5px 5px,
    2.5rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

.recruitment-form__botao {
  appearance: none;
  background-color: var(--verde-500);
  border: none;
  color: var(--branco);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3.75rem;
  margin: 2rem 1rem 0;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 10rem;
}

.recruitment-form__botao:hover {
  background-color: var(--verde-300);
}

.spinner-container {
  animation: spin 1s linear infinite;
}

.recruitment-form__botao svg {
  align-items: center;
  display: flex;
  height: auto;
  left: 50%;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 1.5rem;
}

.recruitment-form__error {
  color: var(--alert);
  font-size: 0.875rem;
}

@media screen and (max-width: 1600px) {
  .recruitment-form__field-container {
    grid-column: span 2;
  }
}

@media screen and (max-width: 650px) {
  .recruitment-form__field-container {
    padding: 0 1rem 2vh;
  }

.recruitment-form__field-label {
  font-size: 1rem;
}

  .recruitment-form__field-input {
    font-size: 0.875rem;
    max-height: 2rem;
  }

  .recruitment-form__field-select {
    font-size: 0.875rem;
    max-height: 2.5rem;
    padding: 0 0.5rem;
  }

  .recruitment-form__field-select--arrow {
    background-position:
      calc(100% - 20px) calc(1rem + 2px),
      calc(100% - 15px) calc(1rem + 2px),
      100% 0;
  }

  .recruitment-form__field-select--arrow:focus {
    background-position:
      calc(100% - 15px) 1rem,
      calc(100% - 20px) 1rem,
      100% 0;
  }


  .recruitment-form__botao {
    height: 3rem;
    margin: 1rem 1rem 0;
    width: 7rem;
  }

  .recruitment-form__botao svg {
    width: 1.25rem;
  }
}

.dark {
  .recruitment-form__field-input, 
  .recruitment-form__field-select,
  .recruitment-form__field-select option {
    background-color: #3f3f46;
    border: none;
    color: white;
  }
}

.bear {
  .recruitment-form__field-input, 
  .recruitment-form__field-select,
  .recruitment-form__field-select option {
    background-color: #222;
    border: none;
    color: var(--verde-300);
  }

  .recruitment-form__field-input:focus {
    outline-color: var(--verde-300);
  }
}